{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Tutorial App</title>
</head>

<body>
	<h1>Tutorials</h1>
	Here is knowledge <br />
	{{% if categories %}}
		<ul>
			{% for category in categories %}
			<li><a href="/category/{{ category.slug }}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}

	{% if pages %}
		<h1>Top 5 pages</h1>
		{% for page in pages %}
			<a href="{{page.url}}">{{page.title}}</a>
		{{% endfor %}}
	{% endif %}
	
		<a href="/about/">About</a><br />
		<img src="{% static 'images/image.jpg' %}" alt="Picture of UF0907" />
	</body>

</html>