{% extends 'base.html' %}
{% load static %}
{% load extras %}

{% block body_block %}
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
	<body>
		<h1>Register with Tutorial App</h1>

		{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'index' %}">Return to the homepage.</a><br>
		{% else %}
		<strong>Register Here!</strong><br>

		<form id="user_form" method="post" action="/register/" enctype="multipart/form-data">

			{% csrf_token %}


			{% for field in user_form.visible_fields %}
			<div class='form-group'>
				{{ field.errors }}
				{{ field.help_text }}<br>
				{{ field |addcls:'form-control' }}<br>
			</div>
			{% endfor %}

			{% for field in profile_form.visible_fields %}
			<div class='form-group'>
				{{ field.errors }}
				{{ field.help_text }}<br>
				{{ field |addcls:'form-control' }}<br>
			</div>
			{% endfor %}

			<input type="submit" name="submit" value="Register" />
		</form>
		{% endif %}
	{% endblock %}
	</body>
</html>